# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg




# Pycharm
.idea/

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/

# Mac
._*
.DS_Store

# Custom stuff
.Rhistory
env.sh
tables-config.json
config.json
.autoenv.zsh
catalog.json
stream.json

rsa-key
tags
singer-check-tap-data
state.json
